<launch>
  <arg name="load_params" default="true" />

  <node pkg="task_minion" type="task_master_ros_node.py" name="task_minion" output="screen">
      <!-- params -->
      <!-- rosparam command="load" if="$(arg load_params)" file="$(find task_minion)/cfg/task_minion.yaml"-->

      <!-- input remaps -->

      <!-- output remaps -->
  </node>
</launch>