<launch>
  <arg name="foo" default="blah" />
  <arg name="bar" default="blah" />
  <arg name="switch" default="true" />

  <include if="$(arg switch)" file="$(find task_manager_ros)/launch/test_node1.launch" >
    <arg name="foo" value="$(arg foo)" />
    <arg name="bar" value="$(arg bar)" />
  </include>

  <include file="$(find task_manager_ros)/launch/test_node2.launch" >
    <arg name="foo" value="$(arg foo)" />
    <arg if="$(arg switch)" name="bar" value="$(arg bar)" />
  </include>
</launch>